#navbarContainer {
  background-color: #0288d1;
}

#navbarBrand {
  color: #ffffff;
}

#home {
  background-color: #03a9f4;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  z-index: 9999;
}

#jumbotronIconsContainer {
  background-color: #0288d1;
  width: 50%;
  margin: auto;
  z-index: 9999;
}

#chevronIndicator {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#projects {
  background-color: #03A9F4;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;

}

#projectsHeader {
  margin-top: 10vh;
}

#jumbotronProjectsContainer {
  background-color: #0288D1;
  color: #757575;
  text-decoration: none;
}

#styledLink {
  color: #212121;
}

#starIcon {
  padding-bottom: 2px;
}

#projectList {
  margin: auto;
}

#projectsFooter {
  color: #ffffff;
}

#blog {
  background-color: #03A9F4;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

#blogArticle {
  background-color: #03A9F4;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

#blogArticleContainer {
  padding-top: 10vh;
  background-color: #03A9F4;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

#blogArticleContainer a:link {
  color: #ffffff;
}

#blogArticleContainer a:visited {
  color: #ffffff;
}


#headerBlog {
  margin-top: 10vh;
}

#blogContainer {
  background-color: #0288D1;
  color: #757575;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #bdbdbd !important;
}

.icons {
  margin: 15px;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.genericContainer {
  z-index: 9999;
}

.genericSpan {
  color: #212121;
  margin: 5px;
}

.genericIcon {
  margin-left: 8px;
}

.genericIcons {
  color: #ffffff;
  z-index: 9999;
}

/* Animations */

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, .5);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 5.5s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
  left: 25%;
  width: 50px;
  height: 50px;
  animation-delay: 1.5s;
  animation-duration: 15s;
}

.box-area li:nth-child(8) {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-delay: 6.5s;
}

.box-area li:nth-child(9) {
  left: 35%;
  width: 30px;
  height: 30px;
  animation-delay: 0.5s;
}

.box-area li:nth-child(10) {
  left: 80%;
  width: 50px;
  height: 50px;
  animation-delay: 4.0s;
}


@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }

}